{% extends "base_generic.html" %}

{% load crispy_forms_tags %}

{% block content %}

<form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <input class="btn btn-default" type="submit" value="Отправить" />
</form>
<script>
    $(function () {
      $("#id_date_start").datepicker({
        format:'dd/mm/yyyy',
        autoHide: true,
        language: 'ru-RU'
      });
    });
    $(function () {
      $("#id_date_finish").datepicker({
        format:'dd/mm/yyyy',
        autoHide: true,
        language: 'ru-RU'
      });
    });
</script>
{% endblock %}