{% extends "base_generic.html" %}

{% block content %}
<h1><strong>iLuxa</strong></h1>
<h2>Что это вообще?</h2>

  <p>Представим ситуацию, что ваш друг <strong>Илья</strong> любит пустословить и обещать что-то просто так? Вы уже начали забывать, что он говорил? <br> С сервисом <strong>iLuxa</strong> вы можете сортировать все, что было сказано!</p>

<h2>Так, и как тут работать?</h2>

  <p>Все очень просто! Если вы хотите посмотреть то, что уже было наобещано, то заходите <a href="{% url 'living_idea' %}">сюда</a>, а если вы хотите добавить свое, <a href="{% url 'new_idea' %}">то добавляйте здесь!</a></p>

{% endblock %}